body {
    background-color: bisque
}

h1 {
    font-weight: bold;
    text-align: center;
}

p {
    font-style: italic
}

nav ul {
    list-style-type: square;
}

nav ul a:visited {
    color: green;
}

nav ul a:hover {
    font-weight: bold;
}

nav ul a:active {
    color: greenyellow;
}

nav ul a:link {
    color: orangered;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.info {
    width: 33%;
    float: left;
}

.posts {
    width: 33%;
    float: left;
}

.demos {
    width: 33%;
    float: right;
}