body {
    background-color: bisque
}

h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

nav {
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
    font-family: 'Open Sans Condensed', sans-serif;
}

nav ul li a {
    display: block;
    padding: 6px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 12px;
}

nav ul a:visited {
    color: green;
}

nav ul a:hover {
    font-weight: bold;
    background-color: burlywood;
}

nav ul a:active {
    color: greenyellow;
    background-color: darkcyan;
}

nav ul a:link {
    color: orangered;
}

.wrapper {
    margin-top: 40px;
    width: 100%;
    overflow: auto;
    position: relative;
}

.wrapper .section-title {
    border-bottom: dashed 1px #000;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.info, .posts {
    width: 33%;
    float: left;
}

.demos {
    width: 33%;
    float: right;
}

.section {
    border: solid 1px #000;
}

figure img {
    margin: 5px;
    max-width: 200px;
    height: auto;
}

figcaption {
    font-style: italic;
    font-size: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

table {
    border: 1px solid #000;
}

th {
    border-bottom: dotted 1px #000;
}

td {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}